body{
    width: 100%;
    background-color: white;
}

h5{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

header{
    background-color: rgb(33, 150, 243);
    
}

header h1{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    position: absolute;
    margin-left: 250px;
    font-size: 70px;
    margin-top: -100px;
    margin-bottom: 0px;
}

nav{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.fotoCarousel{
    width: 100%;
    overflow: auto;
}

.txtCarousel{
    width: 100%;
    margin-bottom: 0px;
    color: white;
    text-shadow: 1px -1px 1px black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-align: center;
    font-size: 30px;
}

.txtCarouselResp{
    display: none;

}

.btn{
    font-weight: bold;
}

.txtColapse{
    text-align: justify; 
    margin-left: 100px;
    margin-right: 100px;
}

footer{
    background-color: rgb(33, 150, 243);  
    text-align: center;
    color: white;
}

footer p{
    margin-bottom: auto;
    
}

footer h5{
    padding-top: 10px;
    
}

#menu{
    display: none;
}

.imgEquipe{
    width: 150px;
}

.table{
    text-align: center;
}

#tabelaEquipeResponsivo{
    display: none;
}

@media only screen and (max-width: 780px){
    body{
        background-color: rgb(33, 150, 243);
    }

    header{
        margin-top: 20px;
    }

    header div h1{
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bolder;
        color: white;
        font-size: 30px;
        margin-right: 0px;
        margin-top: -50px;
        margin-left: 140px;
        margin-bottom: 0px;
    } 

    header div img{
        width: 150px;
    }
    
    .txtCarousel{
        display: none;
    }

    .txtCarouselResp{
        display: initial;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 1px -1px 5px black;
    }

    label{
        font-weight: bold;
    }

    #btnCadastrar{
        background-color: black;
        color: rgb(33, 150, 243);
        font-size: 20px;
    }
    #menu{
        display: initial;
    }
    .txtColapse{
        text-align: justify; 
        margin-left: 0px;
        margin-right: 0px;
        overflow: auto;
    }

    .imgEquipe{
        width: 100px;
    }

    table{
        background-color: white;
    }

    #tabelaEquipe{
        display: none;
    }

    #tabelaEquipeResponsivo{
        display: initial;
        margin-top: 0px;
    }

}  

   
